<html>
<body>
    <img src="{{ profile.profile_picture.url }}">
    <h1>Name: {{profile.user.name}}</h1>
    <h3>Bio: {{profile.bio}}</h3>
    <div>
        <h4> Followers: </h4>
        <ul>
            {% for follow in followers %}
                <h5>{{follow.Follower.name}}</h5>
            {% endfor %}
        </ul>
    </div>
    <form action='follow/' method='post'>{% csrf_token %}
        <h3>User:
            <input type="text" name="follower_id" value="">
        </h3>
        <input type="submit" value="Follow">
    </form>
    <form action='unfollow/' method='post'>{% csrf_token %}
        <h3>User:
            <input type="text" name="follower_id" value="">
        </h3>
        <input type="submit" value="Unfollow">
    </form>
</body>
</html>